# Python bytecode files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/*

# Database files
*.sqlite3

# Environment variables file
.env

# Django media and static files
/static/
/media/

# Virtual environment
venv/
env/
.venv/
.env/

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# pyenv
.python-version

# mypy
.mypy_cache/

# coverage reports
*.cover
*.coverage
.coverage.*
*.hypothesis/

# Unit test / pytest
*.log
*.pot

# Sphinx documentation
docs/_build/

# Celery beat schedule file
celerybeat-schedule

# Docker files
*.docker
docker-compose.override.yml

# VSCode settings
.vscode/

# Local history (e.g. Sublime Text)
.localhistory/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
